body{
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
}

.form-control:focus{
  border-color: #198754;
  box-shadow: 0 0 0 0.2rem #a5f83f;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  position: static;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav  li a:hover {
  color: #94f222 !important;
}

.footer-padding {
padding-bottom: 60px;
}

.footer {
position: fixed;
text-align: center;
bottom: 0;
width: 100%;
height:50px;
background-color: #212529;
color : #fff
}

.footer p {
  text-align: center;
  margin-top: 1%;
  font-size: 18px;
  color: #fff;
}

button.btn.btn-outline-light{
 display: flex;
 justify-content: flex-end;
 position : absolute;
 top: 3%;
 right: 1%;

}

i.bi.bi-trash3{
  font-size: 20px; 
}

ul {
  list-style: none;
}

li.list-group-item{
  display : flex;
  justify-content : left;
  list-style : none; 
  list-style-position : outside;
  text-align : left;
  padding : 10px;
  margin : 8px;
  width : auto;
  height : auto;
  border : 2px solid #fd7e14;
  color : white;
  background-color : #212529;
  border-radius : 7px;
  cursor : pointer
}

li.list-group-item:hover{
  color: #000!important;
  background-color: #fd7e14!important;
}

